<!DOCTYPE HTML>
<html>

<head>
    <title>top page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  	<!-- Bootstrap CSS -->
  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="container">

    <!--ナビゲーションバー-->
    <nav class="navbar navbar-expand-lg mb-4 ">
        <div class="container-fluid">
            <!--タイトル-->
            <a class="navbar-brand fw-bolder link-dark fs-2" th:href="@{/}" role="button">AccountBook</a>
                <!--ハンバーガーボタン-->
                <button class="navbar-toggler navbar-light" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" 
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!--コンテンツ-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--リスト-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--ホーム-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" role="button" >Home</a>
                    </li>
                    <!--カテゴリーページ-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/category}" role="button">Category</a>
                    </li>
                    <!--アカウント追加ページ-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/add}" role="button">Add</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--タイトル-->
    <h1 class="display-4 mb-4">Add</h1>

    <!--ホームに戻る-->
    <div class="mb-4">
        <a th:href="@{/}" class="btn btn-secondary">Back</a>
    </div>
  
    <!--入力フォーム-->
    <form method="post" action="/add" th:object="${account}">

        <!-- 収支の選択 -->
        <div class="mb-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                <input type="radio" class="btn-check" name="balance" 
                    th:value=false id="expense" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="expense">Expense</label>
              
                <input type="radio" class="btn-check" name="balance" 
                    th:value=true id="income" autocomplete="off">
                <label class="btn btn-outline-primary" for="income">Income</label>

            </div>
        </div>

        <!--名前-->
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" 
                name="name" th:value="*{name}" />
            <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <!--金額-->
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" th:value="*{price}" />
            <div class="text text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        </div>

        <!-- カテゴリー -->
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-control" name="category" th:field="*{category}">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.categoryName}">
                </option>
            </select>
            <div class="text text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
        </div>

        <!--日付-->
        <div class="mb-3">
            <label for="date" class="form-label">Due Date</label>
            <input type="date" class="form-control" 
                name="date" id="date"/>
            <div class="text text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            <script>
                var today = new Date();
                var year = today.getFullYear();
                var month = (today.getMonth() + 1).toString().padStart(2, '0');
                var day = today.getDate().toString().padStart(2, '0');
                var formattedDate = year + '-' + month + '-' + day;
                document.getElementById('date').value = formattedDate;
            </script>
        </div>

        <!--作成ボタン-->
        <input type="submit"  class="btn btn-primary" value="Create"/>
    </form>

</body>
</html>